.episodeList{
    display: flex;
   flex-wrap: wrap;
}
.pageNumber{
    margin: auto;
    text-align: center;
    padding: 10px;
}
.movementButtons{
    margin: auto;
    text-align: center;
    padding: 10px;
}
button{
    width: 60px;
    height: 35px;
    background-color:white;
    font-size: 15px;
    border-radius: 5px;
    margin: 3px;
    
}