img{
    width:270px;
}
.character{
    width:270px;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    border: solid 1px wheat;
    margin: 10px;
}
span{
    margin: 6px;
}
h4{
    margin: 6px;
}