.episode{
    width:270px;
    height: 290px;
    display: flex;
    flex-direction: column;
    border: solid 1px wheat;
    box-shadow: gray;
    margin: 10px;
}
.episode img{
    width:270px;
}

span{
    margin: 6px;
}
h4{
    margin: 6px;
}